/* Free Shipping */
.free-shipping{
    height: 4rem;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    h4{
        color: #fff;
        font-weight: 700;
    }
}

/* NavBar */
.navbar{
    font-size: 2rem;
}

/* MAIN */
.contenedor-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    h2{
        font-size: 4rem;
        text-align: center;
        font-weight: 700;
    }
    p{
        font-size: 2rem;
        text-align: center;
        text-justify: distribute;
        margin-left: 40rem;
        margin-right: 40rem;
        font-weight: 300;
    }
}

.contenedor-main2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    background-color: #000;
}
.contenedor-main-photos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0rem;
    background-color: #000;
}
.contenedor-main-photo1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contenedor-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.carousel-item {
    img{
        object-fit: cover;
        object-position: center;
        height: 50vh;
        overflow: hidden;
    }
}

/* button */

.btn-contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.btn-size{
    font-size: 2rem;
    font-weight: 500;
    a{
        text-decoration: none;
        color: #fff;
    }
}

/* Tarjetas */

.tarjetas{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    img{
        width: 30%;
        height: 30%;
    }
}

/* contenedor 3 */

.contenedor-main3{
    background-color: #e4e4e4;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.contenedor-main3-titulos{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    h2{
        font-size: 4rem;
        text-align: center;
        font-weight: 700;
    }
    p{
        font-size: 1.5rem;
        text-align: center;
        font-weight: 300;
    }
}

/* FOOTER */

.contenedor-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-links{
    margin-top: -3.5rem;
    ul{
        list-style-type: none;
        li{
            display: inline;
            a{
                text-decoration: none;
                color: #000;
                font-size: 1.5rem;
                padding: 0.5rem;
            }
        }
    }
}

.contenedor-cr{
    margin-bottom: 2rem;
    p{
        font-size: 1.5rem;
        font-weight: 300;
    }
}