/* MAIN LOG */
.main-log{
    margin-top: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto;
    grid-template-areas: 
    ". mainl2 ."
    ". mainl ."
    ;
}
.contenedor-log{
    grid-area: mainl;
    font-size: 2rem;
}

.contenedor-log2{
    grid-area: mainl2;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.signup{
    font-size: 4rem;
    text-align: left;
    font-weight: 700;
    margin: 1.5rem 0rem;
    text-decoration: underline;
}

